{% extends "templates/_base.html" %}

{% macro user_info(user, counter, user_json=False, is_client=False) %}
<tr {% if user_json %} data-json="{{ user_to_json(user)}}" {% endif %} xmlns="http://www.w3.org/1999/html">
        <td class="counter">{{ counter }}</td>
        <td class="email"><img src="{{user.avatar_url}}" alt="{{user.name}} [{{user.email}}]" /></td>
        <td class="name">
            {% if not request.has_perm('admin') %}
                {{ user.name }}
            {% else %}
                <a href="{{ request.url_for('/user/view', user_id=user.id) }}">{{ user.name }}</a>
            {% endif %}
                ({{ location(user) }})
            <div>
                {% if is_client %}
                    {{ user.client.name }}
                {% endif %}
            </div>
        </td>
        <td class="contact-info">
            <a href="mailto:{{ user.email }}">{{ user.email }}</a><br/><br/>
            {% if user.phone %}<label>{% trans %}Cellphone{% endtrans %}:</label><span>{{ user.phone }}</span><br/>{% endif %}
            {% if user.phone_on_desk %}<label>{% trans %}Deskphone{% endtrans %}:</label>{{ user.phone_on_desk }}<br/>{% endif %}
            {% if user.skype %}<label>Skype:</label>{{ user.skype }}<br/>{% endif %}
            {% if user.irc %}<label>IRC:</label>{{ user.irc }}<br/>{% endif %}
        </td>
        {% if not user.client %}
        <td>
            {% if user.freelancer %}{% trans %}Freelancer{% endtrans %}<br/>{% endif %}
            {% if user.is_programmer %}{% trans %}Programer{% endtrans %}<br/>{% endif %}
            {% if user.is_frontend_developer %}{% trans %}Frontend developer{% endtrans %}<br/>{% endif %}
            {% if user.is_graphic_designer %}{% trans %}Graphic designer{% endtrans %}<br/>{% endif %}
            {% if user.levels %}{{ user.levels_html }}{% endif %}
        </td>

        <td>
            {% if user.availability_link %}<a href="{{ user.availability_link }}">{% trans %}Avability{% endtrans %}</a>{% endif %}<br/>
            {% if user.tasks_link %}<a href="{{ user.tasks_link }}">{% trans %}Tasks{% endtrans %}</a>{% endif %}
        </td>
        <td>
            {% if user.start_work %}{{ user.start_work.strftime('%d/%m/%Y') or ''}}{% else %}{% endif %}
        </td>
        {% endif %}
</tr>
{% endmacro %}

{% block content %}

<div class="tabs">
    <ul class="nav nav-tabs">
       <li class="active"><a href="#employees" data-toggle="tab">{% trans %}Employees{% endtrans %}</a></li>
        <li class=""><a href="#freelances" data-toggle="tab">{% trans %}Freelancers{% endtrans %}</a></li>
        {% if request.has_perm('admin') %}
        <li class=""><a href="#clients" data-toggle="tab">{% trans %}Clients{% endtrans %}</a></li>
        <li class=""><a href="#inactive" data-toggle="tab">{% trans %}Inactive{% endtrans %}</a></li>
        {% endif %}
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="employees">
            <div class="span">
                 <form class="form-horizontal">
                     <div class="row">
                        <input type="text" name='name' value="" autocomplete="on" placeholder="Employee's name">
                        <input type="text" class="datepicker" name='start_work' value="" placeholder="Start work">
                         </div>

                         <div class="row">
                        Group<select id="group" multiple>
                            {% for group_id, group_name in groups %}
                                <option value='{{ group_id }}' >{{ group_name }}</option>
                            {% endfor %}
                            </select>
                        Location<select id="location" multiple>
                            {% for location_id, location_name in locations %}
                                <option value='{{ location_id }}' >{{ location_name }}</option>
                            {% endfor %}
                        </select>
                        Team<select id="team" multiple>
                            {% for team_id,team_name in team %}
                                <option name='{{ team_id }}' value="{{team_id}}">{{ team_name }}</option>
                            {% endfor %}
                        </select>

                        <input type="button" value="{% trans %}Filter{% endtrans %}" class="button btn btn-primary" />
                     </div>
                </form>
            </div>
            <table  id='no_result' class="table table-bordered table-hover user-list width_auto hide">
            <thead>
                    <th></th>
            </thead>
            <tbody>
                   <td><h2>No result</h2></td>
            </tbody>
         </table>
            {% if not users %}
            There is no users
            {% else %}
          <table  id='oo' class="table table-bordered table-hover user-list width_auto ">
            <thead>
                <th class="lp">&nbsp;</th>
                <th class="avatar">&nbsp;</th>
                <th class="name">
                    {% trans %}Employee's name{% endtrans %}
                </th>
                <th class="contact">{% trans %}Contact{% endtrans %}</th>
                <th class="role">{% trans %}Role{% endtrans %}</th>
                <th class="calendars">{% trans %}Calendars{% endtrans %}</th>
                <th>{% trans %}Start work{% endtrans %}</th>
            </thead>
            <tbody>
                {% for user in users %}
                    {{ user_info(user, loop.index, user_json=True) }}
                {% endfor %}
            </tbody>
         </table>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="freelances">
            {% if not freelancers %}
            There is no users
            {% else %}
            <table class="table table-bordered table-hover user-list width_auto">
            <thead>
                <th class="lp">&nbsp;</th>
                <th class="avatar">&nbsp;</th>
                <th class="name">
                    {% trans %}Freelancer's name{% endtrans %}
                </th>
                <th class="contact">{% trans %}Contact{% endtrans %}</th>
                <th class="role">{% trans %}Role{% endtrans %}</th>
                <th class="calendars">{% trans %}Calendars{% endtrans %}</th>
                <th>{% trans %}Start work{% endtrans %}</th>
            </thead>
            <tbody>
                    {% for user in freelancers %}
                        {{ user_info(user, loop.index) }}
                    {% endfor %}
            </tbody>
         </table>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="clients">
            {% if not clients %}
            There is no users
            {% else %}
            <table class="table table-bordered table-hover user-list width_auto">
            <thead>
                <th class="lp">&nbsp;</th>
                <th class="avatar">&nbsp;</th>
                <th class="name">
                    {% trans %}Client's name{% endtrans %}
                </th>
                <th class="contact">{% trans %}Contact{% endtrans %}</th>
            </thead>
            <tbody>
                    {% for user in clients %}
                        {{ user_info(user, loop.index, is_client=True) }}
                    {% endfor %}
            </tbody>
         </table>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="inactive">
            {% if not inactive %}
            There is no users
            {% else %}
           <table class="table table-bordered table-hover user-list width_auto">
            <thead>
                <th class="lp">&nbsp;</th>
                <th class="avatar">&nbsp;</th>
                <th class="name">
                    {% trans %}User's name{% endtrans %}
                </th>
                <th class="contact">{% trans %}Contact{% endtrans %}</th>
                <th class="role">{% trans %}Role{% endtrans %}</th>
                <th class="calendars">{% trans %}Calendars{% endtrans %}</th>
                <th>{% trans %}Start work{% endtrans %}</th>
            </thead>
            <tbody>
                {% for user in inactive %}
                    {{ user_info(user, loop.index) }}
                {% endfor %}
            </tbody>
         </table>
            {% endif %}
        </div>
    </div>
</div>

<script type="text/javascript">
    function searchFlights(my_id) {
                var select1 = document.getElementById(my_id);
                var selected1 = [];
                for (var i = 0; i < select1.length; i++) {
                    if (select1.options[i].selected) selected1.push(select1.options[i].value);
                }
        if (selected1.length == 0){
            return false
        }
        else{
            return selected1;
        }
    }

    function is_ok_name(my_name, name){
        if (!name){
            return true
        }
        else{
            if ((my_name.indexOf(name.toLowerCase())) != -1){
                return true
            }
            else{
                return false
            }
        }
    }
    function is_ok_start_work(my_start_work, start_work){
        if (!start_work){
            return true
        }
        else{
            if(my_start_work < start_work){
                return true
            }
            else{
                return false
            }
        }
    }
    function is_ok_location(my_location, location){
        if (!location){
            return true
        }
        else{
            if (location.indexOf(my_location) != -1){
                return true
            }
            else{
                return false
            }
        }
    }
    function is_ok_group(my_group, group){
        if (!group){
            return true
        }
        else{
            if ((_.intersection(my_group, group)).length == group.length){
                return true
            }
            else{
                return false
            }
        }
    }

    $(document).ready(function() {
        $(".button").click(function(){
            var name = $("[name='name']").val();
            var start_work =Date.parseExact($("[name='start_work']").val() , "d/M/yyyy");
            var location = searchFlights("location");
            var group = searchFlights("group");
            var team = searchFlights("team");
            var _show = 0;
            for (var i = 0; i< $('[data-json]').length ; i++){
                person = jQuery.parseJSON($('[data-json]')[i].getAttribute('data-json'));

                if (is_ok_name((person['name'].toLowerCase()),name) &&
                    is_ok_location(person['location'], location) &&
                    is_ok_start_work(new Date(person['start_work']), start_work) &&
                    is_ok_group(person['groups'], group) &&
                    is_ok_group(person['team'], team)){
                        $($('[data-json]')[i]).show();
                        _show++;
                }
                else{
                    $($('[data-json]')[i]).hide();
                }
            }
            if (_show == 0){
                $('#oo').hide();
                $('#no_result').removeClass('table table-bordered table-hover user-list width_auto hide')
                $('#no_result').addClass('table table-bordered table-hover user-list width_auto');
                $
            }
            else{
                $('#oo').show();
                $('#no_result').removeClass('table table-bordered table-hover user-list width_auto')
                $('#no_result').addClass('table table-bordered table-hover user-list width_auto hide');
            }
        });
    });

</script>
<script>
$("select").multiselect({
   selectedText: "# of # selected"
});
</script>
{% endblock %}
