<div ng-controller="pivotCtrl">
    <div id="clients_pivot">
        <div class="year_select">
            <label>Role</label>
            <select
                     ng-model="search" multiple title="Choose role"
                     ng-options="role.id as role.name for role in roles"
                     bs-select>
                </select>

        </div>
        <div class="clear"></div>
        <div class="row-fluid">
            <div class="span6 table_pivot">
                <table class="table table-bordered table-hover">
                <colgroup class=""></colgroup>
                <colgroup class=""></colgroup>
                <colgroup class=""></colgroup>
                <colgroup class=""></colgroup>
                <colgroup class=""></colgroup>
                <colgroup class=""></colgroup>
                <colgroup class=""></colgroup>
                <colgroup class=""></colgroup>
                <colgroup class=""></colgroup>
                <colgroup class=""></colgroup>
                <colgroup class=""></colgroup>
                <colgroup class=""></colgroup>
                <colgroup class=""></colgroup>
                <colgroup class=""></colgroup>
                <colgroup class=""></colgroup>
                <colgroup class=""></colgroup>
                <colgroup class=""></colgroup>
                <colgroup class=""></colgroup>
                <thead class="first">
                <tr>
                    <th class="client">Year</th>
                    <th class="worked annually_hours ">Sum</th>
                        <th  ng-repeat='nr in [1,2,3,4]' class="quarter">Q{{ nr }}</th>
                        <th  ng-repeat='month in [1,2,3,4,5,6,7,8,9,10,11,12]' class="month">{{ month }}</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
                </table>
            </div>
            <div class="span6 chart_pivot">

            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

